body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}


/*********
IDs
*********/

#title-subtitle {
  font-style: italic;
}

#authForm {
  margin-top: 65px;
}

#companies {
  margin-top: 65px;
}

#tags {
  margin-top: 75px;
  margin-left: 10px;
}

#logInNav {
  justify-content: right;
}

/*********
Classes
*********/
